{% extends 'base.html' %}

{% block contenido %}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="card" style="width: 400px">
                <img class="card-img-top" src="img_avatar.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">{{persona.id}}:{{persona.nombre}}</h4>
                    <p class="card-text">Telefono: {{persona.telefono}</p>
                    <p class="card-text">Email: {{persona.email}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}